.todolist {
    
    width: 400px;
    background-color: greenyellow;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    margin-left: 30%;
  

  }
  .input{
    margin-left: 10%;
  }
  

  .header {
    font-size: 1.6rem;
    text-align: center;
  }
  
  ul {
    /* height: calc(var(--height-todolist) - var(--height-todolist-header) * 2); */
    overflow: auto;
   
    
  }